html body {
  margin: 0 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html body .section__body {
  padding: 0vw 4vw;
}
html body .navbar__fix {
  position: fixed;
  justify-content: start;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #323232;
  box-shadow: 0px 0px 10px #000;
  z-index: 9999;
  overflow: hidden;
}
@media (max-width: 767px) {
  html body .navbar__fix {
    height: 80px;
  }
}
@media (min-width: 1280px) {
  html body .navbar__logo {
    display: flex;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  html body .navbar__logo {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem 0.65rem;
  }
}
html body .navbar__list--item {
  list-style: none;
  min-width: 50%;
}
html body .navbar__list--item li, html body .navbar__list a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  transition: all 0.5s ease-in-out;
}
html body .navbar__list--item li:hover, html body .navbar__list a:hover {
  border-bottom: 5px;
  border-color: #fff;
  border-style: none none solid none;
  font-family: "Avenir Demi";
}
html body .navbar__list--item li:active, html body .navbar__list a:active {
  border-bottom: 5px;
  border-color: #fff;
  border-style: none none solid none;
  font-family: "Avenir Bold";
}
@media (max-width: 767px) {
  html body .navbar__list {
    display: flex;
    justify-content: center;
  }
}
html body .hero__cover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(./assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 80px 0 0 0;
  height: 50vw;
}
@media (max-width: 767px) {
  html body .hero__cover {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
html body .hero__cover--title {
  padding-left: 4vw;
  color: #fff;
}
html body .about__headline {
  display: flex;
  justify-content: flex-start;
}
html body .about__headline--title {
  margin: 0;
}
html body .about__image--band-photo {
  width: 100%;
  height: 50vw;
}
@media (max-width: 767px) {
  html body .about__image--band-photo {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  html body .about__content--header {
    margin-bottom: 1.5rem;
  }
}
html body .about__content--bottom--text {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  html body .about__content--bottom--text-first {
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  html body .about__content--bottom--text-second {
    margin-top: 1rem;
  }
}
html body .section__photo-gallery {
  display: flex;
  width: 100%;
}
html body .section__photo-gallery--title {
  display: flex;
  width: 100%;
}
@media (max-width: 767px) {
  html body .section__photo-gallery--title {
    margin-top: 1.5rem;
  }
}
html body .grid__container {
  display: flex;
  justify-content: center;
  align-content: center;
}
html body .grid__container--grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(9, 1fr);
}
html body .grid__container--grid-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vw 0vw;
}
html body .grid__container--grid-items {
  max-width: 92vw;
  filter: grayscale(1);
  transition: all 0.5s ease-in-out;
}
html body .grid__container--grid-items:hover {
  filter: grayscale(0);
}
html body .footer__container {
  display: flex;
  list-style: none;
  background-color: #323232;
}
@media (max-width: 767px) {
  html body .footer__container {
    padding-top: 2rem;
    margin-top: 2vw;
  }
}
html body .footer__container--text-modifier, html body .footer__container p {
  color: #fff;
}
html body .footer__container--text-modifier--subtext, html body .footer__container p--subtext {
  margin: 1rem 0rem;
}
html body .footer__container--text-modifier--subtext a, html body .footer__container p--subtext a {
  text-decoration: none;
  color: #fff;
  font-family: "Avenir Regular", sans-serif;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0 0;
  transition: all 0.5s ease-in-out;
}
html body .footer__container--text-modifier--subtext a:hover, html body .footer__container p--subtext a:hover {
  font-family: "Avenir Demi", sans-serif;
}
html body .footer__container--text-modifier--items--copyright, html body .footer__container p--items--copyright {
  position: flex-end;
  padding-top: 2rem;
}
html body .footer__container__social {
  display: flex;
}
@media (max-width: 767px) {
  html body .footer__container__social {
    margin: 1.5rem 0rem;
  }
}
html body .footer__container__social--list-item {
  margin: 0px 30px 0px 0px;
  height: 25px;
}
@media (max-width: 767px) {
  html body .footer__container {
    padding-left: 4vw;
  }
}/*# sourceMappingURL=index.css.map */