//primary colors
$primary__band-gray:#323232;
$primary__band-white: #fff;
$primary__band-silver: #afafaf;
//secondary colors
$secondary__band-black: #000;
$secondary__band-mercury: #e1e1e1;
$secondary__band-alabaster: #fafafa;
//paddings
$before__headline: 3rem;
$after__headline-components: 2.25rem;
//paddings_mobile
$before__headline-mobile: 1.5rem;
$after__headline-components-mobile: 1rem;


