@font-face {
  font-family: "Avenir Regular";
  src: url("../assets/fonts/AvenirNextLTPro.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("../assets/fonts/AvenirNextLTProDemi.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Bold";
  src: url("../assets/fonts/AvenirNextLTProBold.ttf");
  font-weight: bolder;
  font-style: normal;
}
h1 {
  font-family: "Avenir Regular", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
}
@media (min-width: 768px) {
  h1 {
    font-family: "Avenir Demi", sans-serif;
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    margin: 0;
  }
}

h2 {
  font-family: "Avenir Regular", sans-serif;
  font-size: 1.875rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 0;
}
@media (min-width: 768px) {
  h2 {
    font-family: "Avenir Demi", sans-serif;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
    margin: 0;
  }
}

h3 {
  font-family: "Avenir Demi", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 500;
  margin: 0;
}
@media (min-width: 1280px) {
  h3 {
    font-family: "Avenir Demi", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin: 0;
  }
}
@media (min-width: 768px) {
  h3 {
    font-family: "Avenir Regular", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: lighter;
    margin: 0;
  }
}

.font__body, h4, p, a {
  font-family: "Avenir Regular", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 768px) {
  .font__body, h4, p, a {
    font-family: "Avenir Regular", sans-serif;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    margin: 0;
  }
}

html body {
  margin: 0 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar {
  display: flex;
}
.navbar__fix {
  position: fixed;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #323232;
  box-shadow: 0px 0px 10px #000;
  z-index: 9999;
}
@media (max-width: 767px) {
  .navbar__fix {
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .navbar__fix {
    justify-content: flex-start;
    padding-left: 2vw;
  }
}
@media (min-width: 1280px) {
  .navbar__fix {
    justify-content: flex-start;
    padding-left: 7vw;
  }
}
.navbar__logo {
  display: flex;
}
@media (max-width: 767px) {
  .navbar__logo {
    justify-content: center;
    margin: 1rem 0rem 0.65rem;
  }
}
@media (min-width: 768px) {
  .navbar__logo {
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
  }
}
.navbar__list {
  margin: 0 0 0 -9vw;
}
@media (max-width: 767px) {
  .navbar__list {
    width: 103%;
  }
}
@media (min-width: 768px) {
  .navbar__list {
    display: flex;
    padding: 0rem 2rem;
    margin: 0;
  }
}
.navbar__list--item {
  list-style: none;
  min-width: 50%;
}
.navbar__list--item li, .navbar__list--item a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 767px) {
  .navbar__list--item li, .navbar__list--item a {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .navbar__list--item li, .navbar__list--item a {
    padding: 0rem 1.25rem;
  }
}
.navbar__list--item li:hover, .navbar__list--item a:hover {
  border-bottom: 5px;
  border-color: #fff;
  border-style: none none solid none;
  font-family: "Avenir Demi";
}
@media (min-width: 768px) {
  .navbar__list--item li:hover, .navbar__list--item a:hover {
    padding-bottom: 28px;
  }
}
@media (max-width: 767px) {
  .navbar__list {
    display: flex;
    justify-content: center;
  }
}
.navbar__list--item--bio-btn {
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 5px;
  border-color: #fff;
  border-style: none none solid none;
  font-family: "Avenir Demi";
  pointer-events: none;
}
@media (min-width: 768px) {
  .navbar__list--item--bio-btn {
    margin: 0 0 -32px 15px;
    padding: 0 15px 27px;
    align-items: center;
  }
}
.navbar__list--item--show-btn {
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 5px;
  border-color: #fff;
  border-style: none none solid none;
  font-family: "Avenir Demi";
  pointer-events: none;
}
@media (min-width: 768px) {
  .navbar__list--item--show-btn {
    margin: 0 0 -32px 19px;
    padding: 0 0px 27px;
    align-items: center;
  }
}

.hero__cover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 80px 0 0 0;
  height: 50vw;
  position: relative;
}
.hero__cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.5);
}
@media (max-width: 767px) {
  .hero__cover {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.hero__cover--title {
  padding-left: 4vw;
  color: #fff;
  position: relative;
  z-index: 2;
}
@media (min-width: 1280px) {
  .hero__cover--title {
    padding-left: 10vw;
  }
}

.hero__cover-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 80px 0 0 0;
  height: 100vw;
  position: relative;
}
@media (min-width: 768px) {
  .hero__cover-b {
    height: 50vw;
  }
}
.hero__cover-b--organizer {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  align-items: flex-start;
  width: 90vw;
}
@media (max-width: 767px) {
  .hero__cover-b--organizer {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .hero__cover-b--organizer {
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    width: 90vw;
  }
}
.hero__cover-b--organizer--item {
  margin-top: 20px;
  position: relative;
  z-index: 2;
}
.hero__cover-b--organizer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.5);
}
@media (max-width: 767px) {
  .hero__cover-b--organizer {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.hero__cover-b--title {
  padding-top: 2vw;
  color: #fff;
  position: relative;
  z-index: 2;
}
.hero__cover-b--title--pre-hero {
  position: relative;
  z-index: 2;
  font-size: 1rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  .hero__cover-b--title--pre-hero {
    font-size: 1.75rem;
  }
}
.hero__sound-player {
  margin: 5vw 0vw 0vw 0vw;
  display: flex;
  position: relative;
  z-index: 2;
  width: 100%;
  border: none;
}
@media (min-width: 768px) {
  .hero__sound-player {
    height: 180px;
    width: 400px;
    margin-left: 10vw;
  }
}

.footer__image--wrap {
  display: inline-block;
  margin-right: 25px;
  height: 25px;
}
.footer__image--wrap--icons {
  height: 25px;
}
.footer__container {
  display: flex;
  list-style: none;
  background-color: #323232;
}
@media (min-width: 768px) {
  .footer__container a {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .footer__container a {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .footer__container {
    padding-top: 2rem;
    margin-top: 2vw;
  }
}
@media (min-width: 768px) {
  .footer__container__header {
    display: flex;
    padding: 3rem 0rem 2.25rem 0rem;
  }
}
@media (min-width: 1280px) {
  .footer__container__header {
    display: flex;
    padding: 3rem 0rem 2.25rem 0rem;
  }
}
@media (min-width: 768px) {
  .footer__container__header--items {
    padding-left: 4vw;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .footer__container__header--items {
    padding-left: 11vw;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .footer__container--colum-modifier {
    display: flex;
    justify-content: space-between;
    padding-left: 4vw;
    width: 92vw;
  }
}
@media (min-width: 1280px) {
  .footer__container--colum-modifier {
    transition: 0.5s;
    padding-left: 11vw;
  }
}
.footer__container--text-modifier,
.footer__container p {
  color: #fff;
}
@media (max-width: 767px) {
  .footer__container--text-modifier--subtext,
  .footer__container p--subtext {
    margin: 1rem 0rem 1rem;
  }
}
@media (min-width: 768px) {
  .footer__container--text-modifier--subtext,
  .footer__container p--subtext {
    margin: 1rem 0rem 2rem;
  }
}
@media (min-width: 1280px) {
  .footer__container--text-modifier--subtext,
  .footer__container p--subtext {
    margin: 1rem 0rem 2rem;
    font-size: 1.125rem;
  }
}
.footer__container--text-modifier--subtext a,
.footer__container p--subtext a {
  text-decoration: none;
  color: #fff;
  font-family: "Avenir Regular", sans-serif;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0 0;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 1280px) {
  .footer__container--text-modifier--subtext a,
  .footer__container p--subtext a {
    font-size: 1.125rem;
  }
}
.footer__container--text-modifier--subtext a:hover,
.footer__container p--subtext a:hover {
  font-family: "Avenir Demi", sans-serif;
}
@media (min-width: 1280px) {
  .footer__container--text-modifier--subtext a:hover,
  .footer__container p--subtext a:hover {
    font-size: 1.125rem;
  }
}
.footer__container--text-modifier--items--copyright,
.footer__container p--items--copyright {
  position: flex-end;
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .footer__container--text-modifier--items--copyright,
  .footer__container p--items--copyright {
    margin: -4.25rem 0rem 0rem -6rem;
    padding-top: 0rem;
  }
}
@media (min-width: 1280px) {
  .footer__container--text-modifier--items--copyright,
  .footer__container p--items--copyright {
    margin: -4.25rem 6rem 0rem -6rem;
    padding-top: 0rem;
  }
}
.footer__container--text-modifier--items--copyright--header,
.footer__container p--items--copyright--header {
  visibility: hidden;
}
@media (min-width: 768px) {
  .footer__container--text-modifier--items--text-wrapper,
  .footer__container p--items--text-wrapper {
    font-family: "Avenir Demi", sans-serif;
  }
}
@media (min-width: 1280px) {
  .footer__container--text-modifier--items--text-wrapper,
  .footer__container p--items--text-wrapper {
    font-family: "Avenir Demi", sans-serif;
    font-size: 1.125rem;
  }
}
.footer__container__social {
  display: flex;
}
@media (max-width: 767px) {
  .footer__container__social {
    margin: 1.5rem 0rem;
  }
}
.footer__container__social--list-item {
  margin: 0px 30px 0px 0px;
  height: 25px;
}
@media (max-width: 767px) {
  .footer__container {
    padding-left: 4vw;
  }
}

.comment__section {
  padding: 5vw 0vw;
  width: 100%;
  background-color: #fff;
}
.comment__section--content {
  font-family: "Avenir Regular", sans-serif;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .comment__section--content {
    width: 75vw;
  }
}
@media (min-width: 1280px) {
  .comment__section--content {
    width: 50vw;
  }
}
@media (min-width: 768px) {
  .comment__section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.comment--title {
  margin-left: 2vw;
}
@media (min-width: 768px) {
  .comment--title {
    margin: 2vw 5vw;
    align-self: flex-start;
  }
}
.comment__label {
  font-weight: 700;
  font-size: 0.75rem;
  color: #afafaf;
}
.comment__text-area {
  justify-content: center;
  display: flex;
  outline: none;
  border: 1px solid #afafaf;
  font-size: 1rem;
  min-width: 14rem;
  min-height: 6rem;
  margin: 1rem 0;
  border-radius: 4px;
  width: 100%;
  resize: none;
  font-family: "Avenir Regular", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin: 0;
}
.comment__text-area--name {
  justify-content: center;
  display: flex;
  outline: none;
  border: 1px solid #afafaf;
  font-size: 1rem;
  min-width: 14rem;
  min-height: 36px;
  margin: 1rem 0;
  border-radius: 4px;
  height: 1.5rem;
  margin-top: 0.5rem;
  width: 100%;
}
.comment__text-area--name:focus {
  border-color: #323232;
}
.comment__text-area:focus {
  border-color: #323232;
}
.comment__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .comment__form {
    justify-content: center;
  }
}
.comment__form--item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
@media (min-width: 768px) {
  .comment__form--item {
    justify-content: center;
  }
}
.comment__form--item--input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.comment__name {
  font-weight: 700;
  font-size: 1rem;
}
.comment__text {
  font-family: "Avenir Regular", sans-serif;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
.comment__item--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}
.comment__wrapper {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  margin-bottom: -1px;
  padding: 1rem;
}
.comment__timestamp {
  color: #afafaf;
  margin-left: 1rem;
}
.comment__button {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  border: none;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  font-size: 20px;
  font-weight: 700;
  min-width: 14rem;
  width: 101%;
  border-radius: 5px;
  color: #fff;
  background-color: #323232;
}
.comment__button:hover {
  background-color: #000;
}
@media (min-width: 768px) {
  .comment__button {
    max-width: 200px;
    align-self: flex-end;
  }
}
.comment__input-error {
  border: 1px solid #d22d2d;
}
.comment__input-error--message {
  color: #d22d2d;
  font-size: 0.75rem;
  display: flex;
  justify-self: start;
  margin-bottom: -1.15rem;
}
.comment__input-error--message-none {
  font-size: 0.75rem;
  margin-bottom: -1.15rem;
  display: flex;
  justify-self: start;
}
.comment__content {
  padding-top: 0.25rem;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}
@media (min-width: 768px) {
  .comment__content {
    width: 35vw;
  }
}

.comment__avatar {
  border-radius: 50%;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  height: 36px;
  width: 36px;
  min-height: 36px;
  min-width: 36px;
  background-color: #e1e1e1;
}
@media (min-width: 768px) {
  .comment__avatar {
    height: 48px;
    width: 48px;
    min-height: 48px;
    min-width: 48px;
  }
}

.comment__item {
  width: 100%;
}

.comment__avatar--sender {
  background-image: url("../assets/images/mohan-muruge.jpg");
  background-size: cover;
  background-color: #ff0000;
  height: 36px;
  width: 36px;
  min-width: 36px;
  border-radius: 50%;
  margin: 1.75rem 1rem 0.5rem 0rem;
}
@media (min-width: 768px) {
  .comment__avatar--sender {
    transition: 0.5s;
    margin: 1.5rem;
    height: 48px;
    width: 48px;
    min-width: 48px;
  }
}

.comments {
  font-family: "Avenir Regular", sans-serif;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.comment__like {
  margin: 15px 5px;
  margin-left: 60vw;
}
@media (min-width: 1280px) {
  .comment__like {
    margin-left: 40vw;
  }
}
.comment__like-button {
  position: absolute;
  margin: 0;
  background: none;
  border: none;
  z-index: 1;
}

.heart-shape {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: rgb(255, 0, 0);
}

.heart-shape:before,
.heart-shape:after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
}

.heart-shape:before {
  bottom: 0px;
  left: -10px;
}

.heart-shape:after {
  top: -10px;
  right: 0px;
}

.comment__like-button {
  margin-top: -7px;
  margin-left: -7px;
  color: #fff;
  font-weight: bold;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
}

.comment__delete-button {
  border: none;
  background-color: #323232;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px;
  margin-top: 70px;
  margin-left: -90px;
  transform: rotate(-45deg);
}

.grid__container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.grid__container--grid {
  display: grid;
  justify-content: center;
}
@media (max-width: 767px) {
  .grid__container--grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
}
@media (min-width: 768px) {
  .grid__container--grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .grid__container--grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
.grid__container--grid-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw 1vw;
}
.grid__container--grid-items {
  filter: grayscale(1);
  transition: all 0.5s ease-in-out;
}
@media (max-width: 767px) {
  .grid__container--grid-items {
    max-width: 90vw;
  }
}
@media (min-width: 768px) {
  .grid__container--grid-items {
    max-width: 28vw;
  }
}
@media (min-width: 1280px) {
  .grid__container--grid-items {
    max-width: 25vw;
  }
}
.grid__container--grid-items:hover {
  filter: grayscale(0);
}

.section__body {
  padding: 0rem 1rem;
}
.section__photo {
  background-color: #fafafa;
  padding: 0 1rem 2rem 1rem;
  margin: 0 -1rem;
}
@media (min-width: 768px) {
  .section__photo {
    padding: 0 2rem 2rem 2rem;
  }
}
@media (min-width: 1280px) {
  .section__photo {
    padding: 0 10rem 2rem 1F0rem;
  }
}
.section__photo-gallery {
  display: flex;
  width: 100%;
}
.section__photo-gallery--title {
  display: flex;
  width: 100%;
  margin: 7vw 0 3vw 1vw;
}
@media (min-width: 768px) {
  .section__photo-gallery--title {
    margin: 3rem 0rem 2rem 0;
    padding-left: 2vw;
    font-size: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .section__photo-gallery--title {
    padding: 3rem 0rem 2rem 0;
    padding-left: 7vw;
    font-size: 2.5rem;
  }
}

.about {
  transition: all 0.5s;
}
.about__headline {
  display: flex;
  justify-content: flex-start;
}
.about__headline--title {
  margin: 0;
}
@media (min-width: 768px) {
  .about__headline--title {
    padding: 3rem 0rem 2rem 1rem;
  }
}
@media (min-width: 1280px) {
  .about__headline--title {
    padding: 3rem 0rem 2rem 7rem;
  }
}
.about__image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about__image--band-photo {
  width: 100%;
  height: 50vw;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .about__image--band-photo {
    height: 40vw;
    width: 75vw;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  .about__image--band-photo {
    height: 35vw;
    width: 70vw;
    margin-bottom: 2rem;
  }
}
.about__content--header {
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .about__content--header {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .about__content--header {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .about__content--header-subheader {
    width: 75vw;
    font-family: "Avenir Regular", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin: 0 0;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .about__content--header-subheader {
    width: 60vw;
    font-family: "Avenir Regular", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin: 0 0;
    padding-bottom: 1rem;
    margin-left: -9vw;
  }
}
.about__content--header-subheader-author-text {
  font-family: "Avenir Demi", sans-serif;
  align-self: flex-start;
  padding: 1rem 0rem 2rem 0rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .about__content--header-subheader-author-text {
    padding: 0rem 0rem 3rem 0rem;
    font-weight: bold;
  }
}
@media (min-width: 1280px) {
  .about__content--header-subheader-author-text {
    font-family: "Avenir regular", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    width: 70vw;
    padding: 0rem 0rem 3rem 0rem;
  }
}
.about__content--header-subheader-title {
  padding: 0rem 0rem 1rem 0rem;
}
@media (min-width: 768px) {
  .about__content--header-subheader-title {
    width: 75vw;
    font-family: "Avenir Regular", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin: 0 0;
    padding: 0rem 0rem 2.25rem 0rem;
  }
}
@media (min-width: 1280px) {
  .about__content--header-subheader-title {
    width: 70vw;
    font-family: "Avenir Demi", sans-serif;
    font-size: 2rem;
    padding: 0rem 0rem 2.25rem 0rem;
  }
}
@media (min-width: 768px) {
  .about__content--bottom {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  .about__content--bottom {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .about__content--bottom--modifier {
    width: 75vw;
    display: flex;
  }
}
@media (min-width: 1280px) {
  .about__content--bottom--modifier {
    width: 70vw;
    display: flex;
  }
}
.about__content--bottom--text {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .about__content--bottom--text-first {
    margin-top: 1rem;
  }
}
@media (min-width: 768px) {
  .about__content--bottom--text-first {
    padding: 0rem 1rem 3rem 0rem;
  }
}
@media (min-width: 1280px) {
  .about__content--bottom--text-first {
    padding: 0rem 1rem 3rem 0rem;
  }
}
@media (max-width: 767px) {
  .about__content--bottom--text-second {
    margin: 1rem 0 1rem;
  }
}
@media (min-width: 768px) {
  .about__content--bottom--text-second {
    padding: 0rem 0rem 3rem 1rem;
  }
}
@media (min-width: 1280px) {
  .about__content--bottom--text-second {
    padding: 0rem 0rem 3rem 1rem;
  }
}/*# sourceMappingURL=bio.css.map */