@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use './partials/global' as*;
@use './partials/nav' as*;
@use './partials/hero' as*;
@use './partials/footer' as*;
@use './partials/fonts' as*;
@use './partials/comments' as *;
@use './partials/grid' as *;



.section {
    &__body {
        padding: 0rem 1rem;
    }

    &__photo {
        background-color: $secondary__band-alabaster;


        padding: 0 1rem 2rem 1rem;
        margin: 0 -1rem;



        @include for--tablet {
            padding: 0 2rem 2rem 2rem;
        }

        @include for--desktop {
            padding: 0 10rem 2rem 1F0rem;
        }

        &-gallery {
            display: flex;
            width: 100%;

            &--title {
                display: flex;
                width: 100%;
                
                margin: 7vw 0 3vw 1vw;


                @include for--tablet {
                    margin: 3rem 0rem 2rem 0;
                    padding-left: 2vw;
                    font-size: 2.5rem;
                }
                @include for--desktop {
                    padding: 3rem 0rem 2rem 0;
                    padding-left: 7vw;
                    font-size: 2.5rem;
                }

            }
        }
    }
}

.about {
    transition: all 0.5s;

    &__headline {
        display: flex;
        justify-content: flex-start;

        &--title {
            margin: 0;

            @include for--tablet {
                padding: 3rem 0rem 2rem 1rem;
            }

            @include for--desktop {
                padding: 3rem 0rem 2rem 7rem;
            }
        }
    }

    &__image {
        width: 100%;
        display: flex;
        justify-content: center;

        &--band-photo {
            width: 100%;
            height: 50vw;


            margin-bottom: 1rem;


            @include for--tablet {
                height: 40vw;
                width: 75vw;
                margin-bottom: 2rem;
            }

            @include for--desktop {
                height: 35vw;
                width: 70vw;
                margin-bottom: 2rem;
            }
        }
    }

    &__content {

        &--header {

            margin-bottom: 1.5rem;


            @include for--tablet {
                margin-bottom: 3rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            @include for--desktop {
                margin-bottom: 3rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &-subheader {
                @include for--tablet {
                    width: 75vw;
                    font-family: 'Avenir Regular', sans-serif;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    font-weight: 600;
                    margin: 0 0;
                    padding-bottom: 1rem;
                }

                @include for--desktop {
                    width: 60vw;
                    font-family: 'Avenir Regular', sans-serif;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    font-weight: 600;
                    margin: 0 0;
                    padding-bottom: 1rem;
                    margin-left: -9vw;

                }

                &-author {
                    &-text {
                        font-family: 'Avenir Demi', sans-serif;
                        align-self: flex-start;


                        padding: 1rem 0rem 2rem 0rem;
                        font-weight: bold;


                        @include for--tablet {
                            padding: 0rem 0rem 3rem 0rem;
                            font-weight: bold;
                        }

                        @include for--desktop {
                            font-family: 'Avenir regular', sans-serif;
                            font-weight: 600;
                            font-size: 1.25rem;
                            width: 70vw;
                            padding: 0rem 0rem 3rem 0rem;
                        }
                    }
                }

                &-title {

                    padding: 0rem 0rem 1rem 0rem;


                    @include for--tablet {
                        width: 75vw;
                        font-family: 'Avenir Regular', sans-serif;
                        font-size: 1.5rem;
                        line-height: 2rem;
                        font-weight: 600;
                        margin: 0 0;
                        padding: 0rem 0rem 2.25rem 0rem;
                    }

                    @include for--desktop {
                        width: 70vw;
                        font-family: 'Avenir Demi', sans-serif;
                        font-size: 2rem;
                        padding: 0rem 0rem 2.25rem 0rem;
                    }
                }
            }
        }

        &--bottom {
            @include for--tablet {
                display: flex;
                width: 100%;
                justify-content: center;
            }

            @include for--desktop {
                display: flex;
                width: 100%;
                justify-content: center;
            }

            &--modifier {
                @include for--tablet {
                    width: 75vw;
                    display: flex;
                }

                @include for--desktop {
                    width: 70vw;
                    display: flex;
                }
            }

            &--text {
                display: flex;

                flex-direction: column;

                &-first {
                    @include for--mobile {
                        margin-top: 1rem;
                    }

                    @include for--tablet {
                        padding: 0rem 1rem 3rem 0rem;
                    }

                    @include for--desktop {
                        padding: 0rem 1rem 3rem 0rem;
                    }
                }

                &-second {
                    @include for--mobile {
                        margin: 1rem 0 1rem;
                    }

                    @include for--tablet {
                        padding: 0rem 0rem 3rem 1rem;
                    }

                    @include for--desktop {
                        padding: 0rem 0rem 3rem 1rem;
                    }
                }
            }
        }
    }
}